VITE_API_TOKEN=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..wsrvkKr6HTEM6NX-O5A3ew.E0RQCYJoazzoeY2RpRh6IcDra3aL-lassOS561pJOnr7oqAqBWNIebEYz1IBWJ42P9ctLRI6Cibk6wrl90YOVCfpf5iQc7hFUr0zi0B1x9o.q1Cv0zg_n0nZTbolqEtJKg
VITE_API_URI=http://localhost:8787